<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>
    Puerto del servidor: {{info.port}}<br>
    Path de ejecución: {{info.path}}<br>
    Nombre de la plataforma: {{info.os}}<br>
    Process id: {{info.processid}}<br>
    Versión de node.js: {{info.nodev}}<br>      
    Carpeta del proyecto: {{info.folder}}<br>
    Memoria total reservada: {{info.memoria}}<br> 
    Numero de procesador: {{info.procesadores}}
  </h1>
</body>
</html>